{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    فهرست سینماها
{% endblock %}

{% block toolbar_title %}
    فهرست سینماها
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col py-3">
            {% if cinemas %}
                <ul class="item-list">
                    {% for cinema in cinemas %}
                        <li>
                            <a href="{% url "ticketing:cinema_details" cinema_id=cinema.id %}">
                                <i class="fas fa-building"></i>
                                {{ cinema }}
                                {% if cinema.city %}
                                    <small class="text-muted">
                                        ({{ cinema.city }})
                                    </small>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    در حال حاضر هیچ سالنی برای نمایش وجود ندارد.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}