<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>لیست فیلم‌ها</title>
</head>
<body dir="rtl">
<h1>
    سامانه فروش بلیت سینما
</h1>
<h2>
    فهرست فیلم‌ها
</h2>

<ul>
    <li>
        <a href="{% url "ticketing:movie_list" %}">
            فیلم‌ها
        </a>
    </li>
    <li>
        <a href="{% url "ticketing:cinema_list" %}">
            سینماها
        </a>
    </li>
</ul>

{% if movies %}
    <ul>
        {% for movie in movies %}
            <li>
                {{ movie }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p style="color: red">
        در حال حاضر هیچ فیلمی برای نمایش وجود ندارد.
    </p>
{% endif %}
</body>
</html>