{% extends "ticketing/base_page.html" %}
{% load static %}

{% block title %}
    سانس‌های نمایش
{% endblock %}

{% block toolbar_title %}
    فهرست سانس‌های نمایش
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col py-3">
            {% if showtimes %}
                <form action="" method="get" class="form-row px-2">
                    {{ search_form }}
                    <button type="submit" class="btn btn-primary">جست‌وجو</button>
                </form>
                <div class="row px-2">
                    {% for showtime in showtimes %}
                        <div class="col-3 px-2 py-2">
                            <a href="{% url "ticketing:showtime_details" showtime_id=showtime.id %}"
                               class="showtime-box btn
                                {% if showtime.status != showtime.SALE_OPEN %}
                                    disabled btn-outline-secondary
                                {% else %}
                                    btn-outline-dark
                                {% endif %}">
                                <span>{{ showtime.movie }}</span>
                                <br/>
                                <span>{{ showtime.cinema }}</span>
                                <br/>
                                <span>
                                    {{ showtime.start_time|date:"l n/j ساعت H:i" }}
                                </span>
                                {# TODO: extract a template tag or filter for class below #}
                                <span class="showtime-status badge
                                    {% if showtime.status == showtime.SALE_NOT_STARTED %}
                                        badge-warning
                                    {% elif showtime.status == showtime.SHOW_CANCELED %}
                                        badge-danger
                                    {% elif showtime.status == showtime.SALE_OPEN %}
                                        badge-success
                                    {% else %}
                                        badge-secondary
                                    {% endif %}">
                                    {% if showtime.status == showtime.SALE_OPEN %}
                                        {{ showtime.get_price_display }}
                                    {% else %}
                                        {{ showtime.get_status_display }}
                                    {% endif %}
                                </span>
                                {% if showtime.status == showtime.SALE_OPEN and showtime.free_seats < 10 %}
                                    <span class="badge badge-danger">
                                    {{ showtime.free_seats }}
                                    صندلی
                                    </span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    در حال حاضر هیچ سانسی برای نمایش وجود ندارد.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}